*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
    text-decoration: None;
}

body {
    height: 100%;
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}


/* Partie gauche
.sidebar-left {
    width: 20%;
    background-color: #FF5733;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
} */

/* Partie centrale */
.main-content {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
    overflow-y: auto;
}

/* Stylisation des titres et listes */
h3 {
    color: #444;
}

ul {
    list-style: none;
    padding: 0;
}

/* ul li {
    padding: 8px;
    margin: 5px 0;
    background-color: #dc664c;
    border-radius: 5px;
    cursor: pointer;
}

ul li:hover {
    background-color: #c16767;
} */

/* Contenu dynamique */
.content {
    text-align: center;
    font-size: 18px;
    color: #555;
}



/* ++++++++++++++++++++++++++++++++++++++++ */
    /* Partie gauche */
    .sidebar-left {
        width: 20%;
        background-color: #FF8C00; /* Orange vif représentant la Côte d'Ivoire */
        padding: 15px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        color: #ffffff; /* Texte blanc pour un bon contraste */
    }

    /* Style des titres dans la partie gauche */
    .sidebar-left h3 {
        color: #ffffff; /* Texte blanc pour ressortir sur l'orange */
    }

    /* Éléments de la liste dans la partie gauche */
    .sidebar-left ul li {
        background-color: #d8d5cf; /* Une nuance légèrement différente d'orange */
        margin: 5px 0;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
        color: #111111; /* Texte blanc */
    }

    .sidebar-left ul li:hover {
        background-color: #FF4500; /* Orange plus foncé au survol */
        color: #ffffff
    }

/* =================================== */

    /* Partie droite */
    .sidebar-right {
        width: 20%;
        background-color: #2ECC71; /* Vert clair */
        padding: 15px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        color: #ffffff; /* Texte blanc pour le contraste */
    }

    /* Styling des titres dans la partie droite */
    .sidebar-right h3 {
        color: #ffffff; /* Assurez-vous que le texte reste visible */
    }

    /* Styling des éléments de la liste dans la partie droite */
    .sidebar-right ul li {
        background-color: #d8d5cf; /* Une nuance différente de vert */
        margin: 5px 0;
        padding: 8px;
        text-decoration: None;
        border-radius: 5px;
        cursor: pointer;
        color: #111111; 
    }

    .sidebar-right ul li:hover {
        background-color: #1E8449; /* Une couleur légèrement foncée au survol */
        color:#ffffff00;
    }