* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
    text-decoration: none;
}

body {
    height: 100vh; /* Utiliser la hauteur totale de l'écran */
    display: flex;
    flex-direction: row; /* Organise les enfants horizontalement */
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Partie centrale */
.centre {
    flex: 3; /* Occupe une proportion définie (par exemple, 60%) */
    padding: 20px;
    background-color: #ffffff;
    overflow-y: auto;
    border-radius: 8px;
}

/* Stylisation des titres et listes */
h3 {
    color: #444;
}

ul {
    list-style: none;
    padding: 0;
}

/* Contenu dynamique */
.content {
    text-align: center;
    font-size: 18px;
    color: #555;
}

/* Partie gauche */
.gauche {
    flex: 1; /* Ajuste la largeur pour occuper une proportion définie (par exemple, 20%) */
    background-color: #FF8C00; /* Orange vif */
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    border-radius:0px 0px 8px;
    overflow-y: auto; /* Permet le défilement si le contenu dépasse la hauteur */
}

/* Style des titres dans la partie gauche */
.gauche h3 {
    color: #ffffff;
}

/* Éléments de la liste dans la partie gauche */
.gauche ul li {
    background-color: #d8d5cf;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    color: #111111;
}

.gauche ul li:hover {
    background-color: #FF4500;
    color: #ffffff;
}

/* Partie droite */
.droite {
    flex: 1; /* Ajuste la largeur pour occuper une proportion définie (par exemple, 20%) */
    background-color: #2ECC71;
    padding: 15px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    border-radius:0px 8px 0px;
    overflow-y: auto; /* Permet le défilement si le contenu dépasse la hauteur */
}

/* Style des titres dans la partie droite */
.droite h3 {
    color: #ffffff;
}

/* Éléments de la liste dans la partie droite */
.droite ul li {
    background-color: #d8d5cf;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    color: #111111;
}

.droite ul li:hover {
    background-color: #1E8449;
    color: #ffffff;
}
